<?php
	if($InData != false){
		$toP = array();
		$i = 0;
		foreach($InData['data'] as $flowData){
			$toP[$i] = "<div class = 'FlowItem'>";
			foreach($flowData as $key => $val){
				if($key == 0){
					$toP[$i] .= "<div class = 'FlowTitle'>".$val['name'].' -- '.$val['date']."</div><div class = 'FlowContent'>".$val['content']."</div><div class='rebk' onclick='rebk(".$val['seq'].")'>rebk</div>";
				}else{
					$toP[$i] .="<div class='FlowItemRb'>";
					$toP[$i] .= "<div class = 'FlowTitle'>".$val['name'].' -- '.$val['date']."</div><div class = 'FlowContent'>".$val['content'].'</div>';
					$toP[$i] .="</div>";
				}
			}
			$toP[$i] .= "</div>";
			$i++;
		}
		$toP = implode($toP);
		include 'lib/PageBar.php';
		$PageBar = GetPageBar($InData['page']);
	}else{
		$PageBar = '';
		$toP='Undefin any Flow.';
	}
?>

<script>
$(window).ready(function(){


});
function rebk(id){
	alert(id);
}
</script>
<?php echo $PageBar;?>
<div id = 'FlowMain'><?php echo $toP ?></div>
<?php echo $PageBar;?>
<style>
.FlowItemRb {
    margin-bottom: 1em;
    margin-left: 2em;
}
</style>
