<?php
	if($InData != false){
		$toP = array();
		$i = 0;
		foreach($InData['data'] as $flowData){
			$toP[$i] = "<div class = 'FlowItem'>";
			foreach($flowData as $key => $val){
				if($key == 0){
					$toP[$i] .=
					"<div class = 'FlowTitle'>".
							$val['name'].' -- '.$val['date'].
						"</div>
						<div class = 'FlowContent'>".$val['content']."</div>
						<div class='rebk' sub = '".$val['seq']."'>
							[<span class = 'link'>rebk</span>]
						</div><div class = 'RebkFrom'></div>";
				}else{
					$toP[$i] .="<div class='FlowItemRb'>";
					$toP[$i] .=
					"<div class = 'FlowTitle'>".$val['name'].' -- '.$val['date']."</div>
					<div class = 'FlowContent'>".$val['content'].'</div>';
					$toP[$i] .="</div>";
				}
			}
			$toP[$i] .= "</div>";
			$i++;
		}
		$toP = implode($toP);
		include 'lib/PageBar.php';
		$PageBar = GetPageBar($InData['page']);
	}else{
		$PageBar = '';
		$toP='Undefind any Flow.';
	}
?>
<script src='<?php echo $_SESSION['SiteUrl'];?>js/Captcha'></script>
<script>
var FlowId = 0;
var ReBkFrome_t = "Name:<input id = 'ReBk_name' /><br />Content:<br /><textarea id = 'ReBk_content' width = '100%'/><br /><captcha></captcha><br />[<span id = 'SubMit' class = 'link'>Submit</span>][<span id = 'CloseFrom' class = 'link'>Close</span>]";
$(window).ready(function(){
	$('.rebk').on('click',function(){
		CloseRebkFrom();
		FlowId = $(this).attr('sub');
		$(this).next().html(ReBkFrome_t);
		SetFrom($(this).width());
	});
	$('.AddFlow').on('click',function(){
		CloseRebkFrom();
		$('#AddFlowFrom').html(ReBkFrome_t);
		SetFrom($('#AddFlowFrom').width());
	});
});
function CloseRebkFrom(){
	FlowId = 0;
	$('.RebkFrom').html('');
	$('#AddFlowFrom').html('');
}
function SetFrom(width){
	$('captcha').Captcha();
	$('#ReBk_content').css('width', width);
	$('#SubMit').on('click',function(){
		if($('captcha').CaptchaCheck()){
			if($('#ReBk_name').val() != '' && $('#ReBk_content').val() != ''){
				$.post('<?php echo $_SESSION['SiteUrl'];?>cgi/index/ReBkFn',
					{
						'name':$('#ReBk_name').val(),
						'content':$('#ReBk_content').val(),
						'id':FlowId
					},
					function(e){
						if(e == 1){
							location.reload();
						}
				});
			}else{
				alert('Any Fold(s) is Null.');
			}
		}else{
			alert('Captch is Error.');
		}
	});
	$('#CloseFrom').on('click',function(){
		CloseRebkFrom();
	});
}
</script>
<div>
	[<span class = 'AddFlow link'>Add</span>]
</div>
<?php echo $PageBar;?>
<div id = 'FlowMain'><?php echo $toP ?></div>
<?php echo $PageBar;?>
<div>
	[<span class = 'AddFlow link'>Add</span>]
</div>
<div id = 'AddFlowFrom'></div>